<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../static/css/navOfAll/lv3NavItems.css"/>
		<link rel="stylesheet" type="text/css" href="../../static/css/navOfAll/navOfAll.css"/>
	</head>
	
	<body>
		<div id="nav">
			<div id="navContent">
				<div class="navTop">
					<div class="navAllUlTitle">所有零食分类</div>
					<div class="nav2S">
						<a href="index.html">首页</a>
						<a href="#">年货礼盒</a>
						<a href="#">提货卡</a>
						<a href="#">新品首发</a>
						<a href="brandStory.html">品牌故事</a>
						<a href="javascript:;">找回密码</a>
					</div>
					<div class="navRight">BAICAOWEI</div>
					
				</div>
				<ul class="navAllUl">
						<li>
							<p>坚果炒货</p>
							<span><a href="javascript:;"> 带壳坚果 </a>
								<a href="javascript:;"> 健康果仁 </a>
								<a href="javascript:;"> 休闲小吃 </a>
							</span>
							<!--<div class="navLiContent">
								
							</div>-->
						</li>
						<li>
							<p>缤纷果干</p>
							<span><a href="javascript:;"> 酸甜果干 </a>
								<a href="javascript:;"> 酥脆冻干 </a>
							</span>
							<!--<div class="navLiContent">22222222222222222222</div>-->
						</li>
						<li>
							<p>肉脯海鲜</p>
							<span><a href="javascript:;"> 耐嚼肉脯 </a>
								<a href="javascript:;"> 正宗牛肉 </a>
								<a href="javascript:;"> 口水禽鸭 </a>
							</span>
							<!--<div class="navLiContent">33333333333333333333</div>-->
						</li>
						<li>
							<p>素食卤味</p>
							<span><a href="javascript:;"> 山珍素食 </a>
								<a href="javascript:;"> 鲜香卤味 </a>
							</span>
							<!--<div class="navLiContent">44444444444444444444444</div>-->
						</li>
						<li>
							<p>糕点糖果</p>
							<span><a href="javascript:;"> 台湾糕点 </a>
								<a href="javascript:;"> 糖果点心 </a>
							</span>
							<!--<div class="navLiContent">5555555555555555555555</div>-->
						</li>
						<li>
							<p>新疆特产</p>
							<span><a href="javascript:;"> 星级红枣 </a>
								<a href="javascript:;"> 葡萄干 </a>
								<a href="javascript:;"> 新疆核桃 </a>
							</span>
							<!--<div class="navLiContent">666666666666666666666</div>-->
						</li>
						<li>
							<p>精美礼盒</p>
							<span><a href="javascript:;"> 年的系列 </a>
								<a href="javascript:;"> 年味礼包 </a>
								<a href="javascript:;"> 小清新 </a>
							</span>
							<!--<div class="navLiContent">77777777777777777777</div>-->
						</li>
						<div class="navLiContent" style="z-index: 2;display: none;">
							<div class="menu1_con" id="J_menu1_con">
								
							</div>
						</div>
					</ul>
			</div>
		</div>
		<script type="text/javascript" src="../../static/js/common/jquery-2.2.1.min.js"></script>
		<script type="text/javascript" src="../../static/js/navOfAll/navOfAll.js"></script>
	</body>

</html>