<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../static/css/content/brandStory.css"/>
	</head>
	<body>
		<div id="brandSContent">
			<div id="brandSContentC">
				<div class="bSPic">
					<img src="../../static/imgs/BRAND STORY.png" />
				</div>
				<div class="bSBottom">
					<button id="btn_toIndex" onclick="window.location.href='../MainHtml/index.html'" ></button>
					<button id="btn_toTop"></button>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../../static/js/common/jquery-2.2.1.min.js"></script>
		<script type="text/javascript" src="../../static/js/content/brandStory.js"></script>
	</body>
</html>
