<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../static/css/content/forgetPwdContent.css"/>
	</head>

	<body>
		
		<div id="forgetPwdContent">
			<div class="forgetPwdContentC">
				<h2>请输入你注册时的手机号，然后点击“获取新密码”按钮，系统将发送一个随机生成的密码到您手机！</h2>
				<span class="span_input">
					手机号: <input type="text" class="fP_phoneNum" /><br />
				</span>
				<button id="btn_getNewPwd">获取新密码</button>
				<button id="btn_back">返回</button>
			</div>
		</div>
		<script type="text/javascript" src="../../static/js/common/jquery-2.2.1.min.js"></script>
		<script type="text/javascript" src="../../static/js/common/utility.js"></script>
		<script type="text/javascript" src="../../static/js/common/jquery.cookies.2.2.0.min.js"></script>
		<script type="text/javascript" src="../../static/js/content/forgetPwdContent.js"></script>
	</body>

</html>