<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../static/css/content/indexContent.css"/>
	</head>
	<body>
		<div id="indexContent">
			<div class="side_nav" id="J_side_nav">
				<ul id="J_floor_link">
					<!--<li class="f_none" id="f1"></li>
					<li class="f_none" id="f2"></li>
					<li class="f_none" id="f3"></li>-->
					<li class="J_ft" id="f4" ><a href="javascript:;" class="oldAClass">坚果炒货</a></li>
					<li class="J_ft" id="f5"><a href="javascript:;" class="oldAClass">缤纷果干</a></li>
					<li class="J_ft" id="f6"><a href="javascript:;" class="oldAClass">肉脯海鲜</a></li>
					<li class="J_ft" id="f11"><a href="javascript:;" class="oldAClass">素食卤味</a></li>
					<li class="J_ft" id="f7"><a href="javascript:;" class="oldAClass">糕点糖果</a></li>
					<li class="J_ft" id="f8"><a href="javascript:;" class="oldAClass">新疆特产</a></li>
					<li class="J_ft" id="f9"><a href="javascript:;" class="oldAClass">精品礼盒</a></li>
					<li class="f_top"></li>
				</ul>
			</div>
			<div class="indexContent1">
				<div class="iC1C">
					<div class="iC1CTitle">
						<div>
							<span class="iC1CTL">大家都买</span> 家中必备的这些零食~
						</div>
					</div>
					<img src="../../static/imgs/floor1-1.jpg" class="iFloor1 active" />
					<img src="../../static/imgs/floor1-2.jpg" class="iFloor1"  />
					<img src="../../static/imgs/floor1-3.jpg" class="iFloor1" />
					<img src="../../static/imgs/floor1-4.jpg" class="iFloor1" />
					<img src="../../static/imgs/floor1-5.jpg" class="iFloor1" />
				</div>
			</div>
			
			<div class="indexContent2">
				<div class="iC1C">
					<div class="iC1CTitle">
						<div>
							<span class="iC1CTL">新品尝鲜</span>  美味不断，尝鲜够优惠~
						</div>
					</div>
					<div class="iCitems">
						<img src="../../static/imgs/indexF2 (1).jpg" width="204" height="200" />
						<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
						<p class="iCItemsPrice">￥11.9  <span class="iCItemsOldP">23.9</span></p>
					</div>
					<div class="iCitems">
						<img src="../../static/imgs/indexF2 (2).jpg" width="204" height="200" />
						<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
						<p class="iCItemsPrice">￥11.9  <span class="iCItemsOldP">23.9</span></p>
					</div>
					<div class="iCitems">
						<img src="../../static/imgs/indexF2 (3).jpg" width="204" height="200" />
						<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
						<p class="iCItemsPrice">￥11.9  <span class="iCItemsOldP">23.9</span></p>
					</div>
					<div class="iCitems">
						<img src="../../static/imgs/indexF2 (4).jpg" width="204" height="200" />
						<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
						<p class="iCItemsPrice">￥11.9  <span class="iCItemsOldP">23.9</span></p>
					</div>
					<div class="iCitems">
						<img src="../../static/imgs/indexF2 (5).jpg" width="204" height="200" />
						<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
						<p class="iCItemsPrice">￥11.9  <span class="iCItemsOldP">23.9</span></p>
					</div>
				</div>
			</div>
			
			<!-- Floor4 Content -->
			<div class="indexContent3">
				<div class="iC3C f4">
					<div class="iC3Items">
						<div class="iC3LPic">
							<img src="../../static/imgs/f4LBigPic.png" />
						</div>
						<div class="iC3ItemsBoxs">
	                        <!-- 带壳坚果  -->
							<div class="iC3ItemsBox active">
								<div class="iC3ItemsMsg" goodsid="indexgl1_1">
									<img src="../../static/imgs/F4Items (1).jpg" />
									<p class="iCItemsName">【手剥山核桃190g/袋】临安特产奶油味手剥山核桃</p>
									<p class="iCItemsPrice">￥34.9 </p>
								</div>
								<div class="iC3ItemsMsg" goodsid="indexgl1_2">
									<img src="../../static/imgs/F4Items (2).jpg" />
									<p class="iCItemsName">【碧根果190g/袋×2袋】奶香酥脆山核桃碧根果</p>
									<p class="iCItemsPrice">￥32.9 </p>
								</div>
								<div class="iC3ItemsMsg" goodsid="indexgl1_3">
									<img src="../../static/imgs/F4Items (3).jpg" />
									<p class="iCItemsName">【夏威夷果218g/袋×2袋】奶油味夏威夷果</p>
									<p class="iCItemsPrice">￥32.9 </p>
								</div>
								<div class="iC3ItemsMsg" goodsid="indexgl1_4">
									<img src="../../static/imgs/F4Items (4).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥11.9 </p>
								</div>
								<div class="iC3ItemsMsg" goodsid="indexgl1_5">
									<img src="../../static/imgs/F4Items (5).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥11.9 </p>
								</div>
								<div class="iC3ItemsMsg" goodsid="indexgl1_6">
									<img src="../../static/imgs/F4Items (6).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥11.9 </p>
								</div>
							</div>
							<!-- 健康果仁  -->
							<div class="iC3ItemsBox">
								<div class="iC3ItemsMsg" goodsid="indexgl1_7">
									<img src="../../static/imgs/Floor42Item (1).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥21.9 </p>
								</div>
								<div class="iC3ItemsMsg" goodsid="indexgl1_8">
									<img src="../../static/imgs/Floor42Item (2).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥21.9 </p>
								</div>
								<div class="iC3ItemsMsg" goodsid="indexgl1_9">
									<img src="../../static/imgs/Floor42Item (3).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥21.9 </p>
								</div>
								<div class="iC3ItemsMsg" goodsid="indexgl1_10">
									<img src="../../static/imgs/Floor42Item (4).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥22.9 </p>
								</div>
								<div class="iC3ItemsMsg" goodsid="indexgl1_11">
									<img src="../../static/imgs/Floor42Item (5).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥22.9 </p>
								</div>
								<div class="iC3ItemsMsg" goodsid="indexgl1_12">
									<img src="../../static/imgs/Floor42Item (6).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥22.9 </p>
								</div>
							</div>
							<!-- 休闲炒货  -->
							<div class="iC3ItemsBox">
								<div class="iC3ItemsMsg" goodsid="indexgl1_13">
									<img src="../../static/imgs/F43Item (1).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥33.9 </p>
								</div>
								<div class="iC3ItemsMsg" goodsid="indexgl1_14">
									<img src="../../static/imgs/F43Item (2).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥33.9 </p>
								</div>
								<div class="iC3ItemsMsg" goodsid="indexgl1_15">
									<img src="../../static/imgs/F43Item (3).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥33.9 </p>
								</div>
								<div class="iC3ItemsMsg" goodsid="indexgl1_16">
									<img src="../../static/imgs/F43Item (4).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥31.9 </p>
								</div>
								<div class="iC3ItemsMsg" goodsid="indexgl1_17">
									<img src="../../static/imgs/F43Item (5).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥31.9 </p>
								</div>
								<div class="iC3ItemsMsg" goodsid="indexgl1_18">
									<img src="../../static/imgs/F43Item (6).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥31.9 </p>
								</div>
							</div>
						</div>
						
						<div class="iC3RContent">
							<div class="iC3RContentTop">
								<div class="iC3RContentTopItems active f4BtnColor">
									带壳坚果
								</div>
								<div class="iC3RContentTopItems">
									健康果仁
								</div>
								<div class="iC3RContentTopItems">
									休闲炒货
								</div>
							</div>
							<div class="iC3RContentBo">
								<img src="../../static/imgs/right_bg4.jpg" />
							</div>
						</div>
						
					</div>
				</div>
			</div>
			
			<!-- Floor5 Content -->
			<div class="indexContent3">
				<div class="iC3C f5">
					<div class="iC3Items">
						<div class="iC3LPic">
							<img src="../../static/imgs/f5LBigPic.png" />
						</div>
						
						<div class="iC3ItemsBoxs">
	                        <!-- 酸甜果干  -->
							<div class="iC3ItemsBox active">
								<div class="iC3ItemsMsg" goodsid="indexgl2_1">
									<img src="../../static/imgs/F51Items (1).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥11.9 </p>
								</div>
								<div class="iC3ItemsMsg" goodsid="indexgl2_2">
									<img src="../../static/imgs/F51Items (2).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥11.9 </p>
								</div>
								<div class="iC3ItemsMsg" goodsid="indexgl2_3">
									<img src="../../static/imgs/F51Items (3).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥11.9 </p>
								</div>
								<div class="iC3ItemsMsg" goodsid="indexgl2_4">
									<img src="../../static/imgs/F51Items (4).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥11.9 </p>
								</div>
								<div class="iC3ItemsMsg" goodsid="indexgl2_5">
									<img src="../../static/imgs/F51Items (5).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥11.9 </p>
								</div>
								<div class="iC3ItemsMsg" goodsid="indexgl2_6">
									<img src="../../static/imgs/F51Items (6).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥11.9 </p>
								</div>
							</div>
							<!-- 酥脆冷冻  -->
							<div class="iC3ItemsBox">
								<div class="iC3ItemsMsg"goodsid="indexgl2_7">
									<img src="../../static/imgs/F52Items (1).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥21.9 </p>
								</div>
								<div class="iC3ItemsMsg" goodsid="indexgl2_8">
									<img src="../../static/imgs/F52Items (2).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥21.9 </p>
								</div>
								<div class="iC3ItemsMsg" goodsid="indexgl2_9">
									<img src="../../static/imgs/F52Items (3).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥21.9 </p>
								</div>
								<div class="iC3ItemsMsg" goodsid="indexgl2_10">
									<img src="../../static/imgs/F52Items (4).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥22.9 </p>
								</div>
								
							</div>
							
						</div>
						
						<div class="iC3RContent">
							<div class="iC3RContentTop">
								<div class="iC3RContentTopItems active f5BtnColor">
									酸甜果干
								</div>
								<div class="iC3RContentTopItems">
									酥脆冷冻
								</div>
							</div>
							<div class="iC3RContentBo">
								<img src="../../static/imgs/right_bg5.jpg" />
							</div>
						</div>
						
					</div>
				</div>
			</div>
			
			<!-- Floor6 Content -->
			<div class="indexContent3">
				<div class="iC3C f6">
					<div class="iC3Items">
						<div class="iC3LPic">
							<img src="../../static/imgs/f6LBigPic.png" />
						</div>
						
						<div class="iC3ItemsBoxs">
	                        <!-- 耐嚼肉脯  -->
							<div class="iC3ItemsBox active">
								<div class="iC3ItemsMsg" goodsid="indexgl3_1">
									<img src="../../static/imgs/F61Items (1).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥11.9 </p>
								</div>
								<div class="iC3ItemsMsg" goodsid="indexgl3_2">
									<img src="../../static/imgs/F61Items (2).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥11.9 </p>
								</div>
								<div class="iC3ItemsMsg" goodsid="indexgl3_3">
									<img src="../../static/imgs/F61Items (3).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥11.9 </p>
								</div>
								<div class="iC3ItemsMsg" goodsid="indexgl3_4">
									<img src="../../static/imgs/F61Items (4).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥11.9 </p>
								</div>
								<div class="iC3ItemsMsg" goodsid="indexgl3_5">
									<img src="../../static/imgs/F61Items (5).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥11.9 </p>
								</div>
								<div class="iC3ItemsMsg" goodsid="indexgl3_6">
									<img src="../../static/imgs/F61Items (6).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥11.9 </p>
								</div>
							</div>
							<!-- 正宗牛肉  -->
							<div class="iC3ItemsBox">
								<div class="iC3ItemsMsg" goodsid="indexgl3_7">
									<img src="../../static/imgs/F62Items (1).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥21.9 </p>
								</div>
								<div class="iC3ItemsMsg" goodsid="indexgl3_8">
									<img src="../../static/imgs/F62Items (2).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥21.9 </p>
								</div>
								<div class="iC3ItemsMsg" goodsid="indexgl3_9">
									<img src="../../static/imgs/F62Items (3).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥21.9 </p>
								</div>
								<div class="iC3ItemsMsg" goodsid="indexgl3_10">
									<img src="../../static/imgs/F62Items (4).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥22.9 </p>
								</div>
							</div>
							<!-- 鱼香味美  -->
							<div class="iC3ItemsBox">
								<div class="iC3ItemsMsg" goodsid="indexgl3_11">
									<img src="../../static/imgs/F63Items (1).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥33.9 </p>
								</div>
								<div class="iC3ItemsMsg" goodsid="indexgl3_12">
									<img src="../../static/imgs/F63Items (2).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥33.9 </p>
								</div>
								<div class="iC3ItemsMsg" goodsid="indexgl3_13">
									<img src="../../static/imgs/F63Items (3).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥33.9 </p>
								</div>
								<div class="iC3ItemsMsg" goodsid="indexgl3_14">
									<img src="../../static/imgs/F63Items (4).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥31.9 </p>
								</div>
								<div class="iC3ItemsMsg" goodsid="indexgl3_15">
									<img src="../../static/imgs/F63Items (5).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥31.9 </p>
								</div>
								
							</div>
						</div>
						
						<div class="iC3RContent">
							<div class="iC3RContentTop">
								<div class="iC3RContentTopItems active f6BtnColor">
									耐嚼肉脯
								</div>
								<div class="iC3RContentTopItems">
									正宗牛肉
								</div>
								<div class="iC3RContentTopItems">
									鱼香味美
								</div>
							</div>
							<div class="iC3RContentBo">
								<img src="../../static/imgs/right_bg6.jpg" />
							</div>
						</div>
						
					</div>
				</div>
			</div>
			
			<!-- Floor7 Content -->
			<div class="indexContent3">
				<div class="iC3C f7">
					<div class="iC3Items">
						<div class="iC3LPic">
							<img src="../../static/imgs/f7LBigPic.png" />
						</div>
						
						<div class="iC3ItemsBoxs">
	                        <!-- 素食卤味  -->
							<div class="iC3ItemsBox active">
								<div class="iC3ItemsMsg">
									<img src="../../static/imgs/F71Items (1).jpg" />
									<p class="iCItemsName">【甜辣薄豆干200g】新品 零食小吃特产豆腐干</p>
									<p class="iCItemsPrice">￥11.9 </p>
								</div>
								<div class="iC3ItemsMsg">
									<img src="../../static/imgs/F71Items (2).jpg" />
									<p class="iCItemsName">【卤香鹌鹑蛋128g/袋】零食小吃卤蛋 卤味特产即食美食</p>
									<p class="iCItemsPrice">￥13.9 </p>
								</div>
								<div class="iC3ItemsMsg">
									<img src="../../static/imgs/F71Items (3).jpg" />
									<p class="iCItemsName">【香辣味鱼豆腐260g/袋】休闲零食鱼豆腐干豆干小吃</p>
									<p class="iCItemsPrice">￥14.9 </p>
								</div>
								<div class="iC3ItemsMsg">
									<img src="../../static/imgs/F71Items (4).jpg" />
									<p class="iCItemsName">【香辣卤藕180g/袋*2袋】休闲零食特产办公室小吃藕片</p>
									<p class="iCItemsPrice">￥15.8 </p>
								</div>
								<div class="iC3ItemsMsg">
									<img src="../../static/imgs/F71Items (5).jpg" />
									<p class="iCItemsName">【香辣脆笋200g/袋*2袋】休闲零食爽口竹笋即食笋子小吃</p>
									<p class="iCItemsPrice">￥14.9 </p>
								</div>
								<div class="iC3ItemsMsg">
									<img src="../../static/imgs/F71Items (6).jpg" />
									<p class="iCItemsName">【香辣海带丝200g/袋*2袋】休闲零食小吃开袋即食下饭菜</p>
									<p class="iCItemsPrice">￥14.9 </p>
								</div>
							</div>
							
						</div>
						
						<div class="iC3RContent">
							<div class="iC3RContentTop">
								<div class="iC3RContentTopItems active f7BtnColor">
									素食卤味
								</div>
								
							</div>
							<div class="iC3RContentBo">
								<img src="../../static/imgs/right_bg7.jpg" />
							</div>
						</div>
						
					</div>
				</div>
			</div>
			
			<!-- Floor8 Content -->
			<div class="indexContent3">
				<div class="iC3C f8">
					<div class="iC3Items">
						<div class="iC3LPic">
							<img src="../../static/imgs/f8LBigPic.png" />
						</div>
						
						<div class="iC3ItemsBoxs">
	                        <!-- 台湾糕点  -->
							<div class="iC3ItemsBox active">
								<div class="iC3ItemsMsg">
									<img src="../../static/imgs/F81Items (1).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥11.9 </p>
								</div>
								<div class="iC3ItemsMsg">
									<img src="../../static/imgs/F81Items (2).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥11.9 </p>
								</div>
								<div class="iC3ItemsMsg">
									<img src="../../static/imgs/F81Items (3).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥11.9 </p>
								</div>
								<div class="iC3ItemsMsg">
									<img src="../../static/imgs/F81Items (4).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥11.9 </p>
								</div>
								<div class="iC3ItemsMsg">
									<img src="../../static/imgs/F81Items (5).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥11.9 </p>
								</div>
								<div class="iC3ItemsMsg">
									<img src="../../static/imgs/F81Items (6).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥11.9 </p>
								</div>
							</div>
							<!-- 糖果点心  -->
							<div class="iC3ItemsBox">
								<div class="iC3ItemsMsg">
									<img src="../../static/imgs/F82Items (1).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥21.9 </p>
								</div>
								<div class="iC3ItemsMsg">
									<img src="../../static/imgs/F82Items (2).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥21.9 </p>
								</div>
								<div class="iC3ItemsMsg">
									<img src="../../static/imgs/F82Items (3).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥21.9 </p>
								</div>
								<div class="iC3ItemsMsg">
									<img src="../../static/imgs/F82Items (4).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥22.9 </p>
								</div>
							</div>
							
							
						</div>
						
						<div class="iC3RContent">
							<div class="iC3RContentTop">
								<div class="iC3RContentTopItems active f8BtnColor">
									台湾糕点
								</div>
								<div class="iC3RContentTopItems">
									糖果点心
								</div>
							</div>
							<div class="iC3RContentBo">
								<img src="../../static/imgs/right_bg8.jpg" />
							</div>
						</div>
						
					</div>
				</div>
			</div>
			
			<!-- Floor9 Content -->
			<div class="indexContent3">
				<div class="iC3C f9">
					<div class="iC3Items">
						<div class="iC3LPic">
							<img src="../../static/imgs/f9LBigPic.png" />
						</div>
						
						<div class="iC3ItemsBoxs">
	                        <!-- 葡萄干  -->
							<div class="iC3ItemsBox active">
								<div class="iC3ItemsMsg">
									<img src="../../static/imgs/F91Items (1).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥11.9 </p>
								</div>
								<div class="iC3ItemsMsg">
									<img src="../../static/imgs/F91Items (2).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥11.9 </p>
								</div>
								<div class="iC3ItemsMsg">
									<img src="../../static/imgs/F91Items (3).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥11.9 </p>
								</div>
								<div class="iC3ItemsMsg">
									<img src="../../static/imgs/F91Items (4).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥11.9 </p>
								</div>
								<div class="iC3ItemsMsg">
									<img src="../../static/imgs/F91Items (5).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥11.9 </p>
								</div>
								<div class="iC3ItemsMsg">
									<img src="../../static/imgs/F91Items (6).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥11.9 </p>
								</div>
							</div>
							<!-- 星级红枣  -->
							<div class="iC3ItemsBox">
								<div class="iC3ItemsMsg">
									<img src="../../static/imgs/F92Items (1).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥21.9 </p>
								</div>
								<div class="iC3ItemsMsg">
									<img src="../../static/imgs/F92Items (2).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥21.9 </p>
								</div>
							</div>
							
						</div>
						
						<div class="iC3RContent">
							<div class="iC3RContentTop">
								<div class="iC3RContentTopItems active f9BtnColor">
									葡萄干
								</div>
								<div class="iC3RContentTopItems">
									星级红枣
								</div>
							</div>
							<div class="iC3RContentBo">
								<img src="../../static/imgs/right_bg9.jpg" />
							</div>
						</div>
						
					</div>
				</div>
			</div>
			
			<!-- Floor10 Content -->
			<div class="indexContent3">
				<div class="iC3C f10">
					<div class="iC3Items">
						<div class="iC3LPic">
							<img src="../../static/imgs/f10LBigPic.png" />
						</div>
						
						<div class="iC3ItemsBoxs">
	                        <!-- 年的味道  -->
							<div class="iC3ItemsBox active">
								<div class="iC3ItemsMsg">
									<img src="../../static/imgs/F101Items (1).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥11.9 </p>
								</div>
								<div class="iC3ItemsMsg">
									<img src="../../static/imgs/F101Items (2).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥11.9 </p>
								</div>
								<div class="iC3ItemsMsg">
									<img src="../../static/imgs/F101Items (3).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥11.9 </p>
								</div>
								<div class="iC3ItemsMsg">
									<img src="../../static/imgs/F101Items (4).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥11.9 </p>
								</div>
								<div class="iC3ItemsMsg">
									<img src="../../static/imgs/F101Items (5).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥11.9 </p>
								</div>
								<div class="iC3ItemsMsg">
									<img src="../../static/imgs/F101Items (6).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥11.9 </p>
								</div>
							</div>
							<!-- 年的礼包  -->
							<div class="iC3ItemsBox">
								<div class="iC3ItemsMsg">
									<img src="../../static/imgs/F102Items (1).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥21.9 </p>
								</div>
							</div>
							<!-- 小清新  -->
							<div class="iC3ItemsBox">
								<div class="iC3ItemsMsg">
									<img src="../../static/imgs/F103Items (1).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥33.9 </p>
								</div>
								<div class="iC3ItemsMsg">
									<img src="../../static/imgs/F103Items (2).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥33.9 </p>
								</div>
								<div class="iC3ItemsMsg">
									<img src="../../static/imgs/F103Items (3).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥33.9 </p>
								</div>
								<div class="iC3ItemsMsg">
									<img src="../../static/imgs/F103Items (4).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥31.9 </p>
								</div>
								<div class="iC3ItemsMsg">
									<img src="../../static/imgs/F103Items (5).jpg" />
									<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
									<p class="iCItemsPrice">￥31.9 </p>
								</div>
							</div>
						</div>
						
						<div class="iC3RContent">
							<div class="iC3RContentTop">
								<div class="iC3RContentTopItems active f10BtnColor">
									年的味道
								</div>
								<div class="iC3RContentTopItems">
									年的礼包
								</div>
								<div class="iC3RContentTopItems">
									小清新
								</div>
							</div>
							<div class="iC3RContentBo">
								<img src="../../static/imgs/right_bg11.jpg" />
							</div>
						</div>
						
					</div>
				</div>
			</div>
			
		</div>
		<script type="text/javascript" src="../../static/js/common/jquery-2.2.1.min.js"></script>
		<script type="text/javascript" src="../../static/js/common/utility.js"></script>
		<script type="text/javascript" src="../../static/js/common/jquery.cookies.2.2.0.min.js"></script>
		<script type="text/javascript" src="../../static/js/common/json2.js"></script>
		<script type="text/javascript" src="../../static/js/content/indexContent.js"></script>
	</body>
</html>
