<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../static/css/content/indexBanner.css"/>
	</head>
	<body>
		<div id="banner">
			
			<div id="bannerContent">
				<div class="fixS">
					点点点点
				</div>
				<div class="bCMsg">
					<img src="../../static/imgs/bannerErWM2.png"  />
					<a href="javascript:;" id="btn_closeEWM"></a>
				</div>
				<img src="../../static/imgs/banner1.jpg" title="轮播图1" class="active" width="1211" height="420" />
				<img src="../../static/imgs/banner2.jpg" title="轮播图2" width="1211" height="420" />
				<img src="../../static/imgs/banner4.jpg" title="轮播图3" width="1211" height="420" />
				<button class="btn_pic1 btnactive">1</button>
				<button class="btn_pic2">2</button>
				<button class="btn_pic3">3</button>
			</div>
		</div>
		<script type="text/javascript" src="../../static/js/common/jquery-2.2.1.min.js"></script>
		<script type="text/javascript" src="../../static/js/content/indexBanner.js"></script>
	</body>
</html>
