<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../static/css/content/indexFloorNav.css"/>
	</head>

	<body>
		<div class="side_nav" id="J_side_nav">
			<ul id="J_floor_link">
				<li class="f_none" id="f1"></li>
				<li class="f_none" id="f2"></li>
				<li class="f_none" id="f3"></li>
				<li class="J_ft"  ><span id="f4"></span><a href="javascript:;" class="oldAClass">坚果炒货</a></li>
				<li class="J_ft" ><span id="f5"></span><a href="javascript:;" class="oldAClass">缤纷果干</a></li>
				<li class="J_ft" ><span id="f6"></span><a href="javascript:;" class="oldAClass">肉脯海鲜</a></li>
				<li class="J_ft" ><span id="f11"></span><a href="javascript:;" class="oldAClass">素食卤味</a></li>
				<li class="J_ft" ><span id="f7"></span><a href="javascript:;" class="oldAClass">糕点糖果</a></li>
				<li class="J_ft" ><span id="f8"></span><a href="javascript:;" class="oldAClass">新疆特产</a></li>
				<li class="J_ft" ><span id="f9"></span><a href="javascript:;" class="oldAClass">精品礼盒</a></li>
				<li class="f_top"></li>
			</ul>
		</div>
		<script type="text/javascript" src="../../static/js/common/jquery-2.2.1.min.js"></script>
		<script type="text/javascript" src="../../static/js/content/indexFloorNav.js"></script>
	</body>

</html>