<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../static/css/content/productsList.css" />
	</head>

	<body>
		<div id="productsList">
			<div class="productsListC">
				<div class="productsListCLeft">
					<ul class="lvToNav">
						<li class="lvToNavLi">坚果炒货</li>
						<li>带壳坚果</li>
						<li>健康果仁</li>
						<li>休闲小吃</li>
						
						<li class="lvToNavLi">肉类海鲜</li>
						<li>猪肉</li>
						<li>牛肉干</li>
						<li>鱿鱼</li>
						<li>鸡鸭</li>
						
						<li class="lvToNavLi">果干蜜饯</li>
						<li>水果干</li>
						<li>饼干系列</li>
						
						<li class="lvToNavLi">台式糕点</li>
						<li>糕点</li>
						<li>糖果</li>
						
						<li class="lvToNavLi">新疆干果</li>
						<li>葡萄干系列</li>
						<li>红枣系列</li>
						<li>核桃系列</li>
						
						<li class="lvToNavLi">精美礼盒</li>
						<li>坚果礼盒</li>
						<li>水果干礼盒</li>
						<li>凤梨酥礼盒</li>
						
					
						
						<li class="lvToNavLi">茶品系列</li>
						<li class="lvToNavLi">其他</li>
						<li class="lvToNavLi">电影伴侣</li>
						<li class="lvToNavLi">游戏之友</li>
						<li class="lvToNavLi">午后茶点</li>
						<li class="lvToNavLi">瘦食兼顾</li>
						<li class="lvToNavLi">聚会小食</li>
						<li class="lvToNavLi">远行必备</li>
					</ul>
				</div>
				<div class="productsListCRight">
					<div class="productsListCRightTopNav">
						<a href="../MainHtml/index.html">首页</a> &gt; <a href="#">坚果炒货</a> &gt; 
						<a href="#">带壳坚果</a>
						<div class="navHr" />
					</div>
					<div class="productsListCRightItems">
						<!-- 带壳坚果  -->
						<div class="iC3ItemsBox active">
							<div class="iC3ItemsMsg">
								<img src="../../static/imgs/F4Items (1).jpg" />
								<p class="iCItemsName">【手剥山核桃190g/袋】临安特产奶油味手剥山核桃</p>
								<p class="iCItemsPrice">￥34.9 </p><span class="proListAddShopCar">加入购物车</span>
							</div>
							<div class="iC3ItemsMsg">
								<img src="../../static/imgs/F4Items (2).jpg" />
								<p class="iCItemsName">【碧根果190g/袋×2袋】奶香酥脆山核桃碧根果</p>
								<p class="iCItemsPrice">￥32.9</p><span class="proListAddShopCar">加入购物车</span> 
							</div>
							<div class="iC3ItemsMsg">
								<img src="../../static/imgs/F4Items (3).jpg" />
								<p class="iCItemsName">【夏威夷果218g/袋×2袋】奶油味夏威夷果</p>
								<p class="iCItemsPrice">￥32.9 </p><span class="proListAddShopCar">加入购物车</span>
							</div>
							<div class="iC3ItemsMsg">
								<img src="../../static/imgs/F4Items (4).jpg" />
								<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
								<p class="iCItemsPrice">￥11.9 </p><span class="proListAddShopCar">加入购物车</span>
							</div>
							<div class="iC3ItemsMsg">
								<img src="../../static/imgs/F4Items (5).jpg" />
								<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
								<p class="iCItemsPrice">￥11.9</p> <span class="proListAddShopCar">加入购物车</span>
							</div>
							<div class="iC3ItemsMsg">
								<img src="../../static/imgs/F4Items (6).jpg" />
								<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
								<p class="iCItemsPrice">￥11.9 </p><span class="proListAddShopCar">加入购物车</span>
							</div>
							<!-- 多加出来的商品  -->
							<div class="iC3ItemsMsg">
								<img src="../../static/imgs/F4Items (1).jpg" />
								<p class="iCItemsName">【手剥山核桃190g/袋】临安特产奶油味手剥山核桃</p>
								<p class="iCItemsPrice">￥34.9 </p><span class="proListAddShopCar">加入购物车</span>
							</div>
							<div class="iC3ItemsMsg">
								<img src="../../static/imgs/F4Items (2).jpg" />
								<p class="iCItemsName">【碧根果190g/袋×2袋】奶香酥脆山核桃碧根果</p>
								<p class="iCItemsPrice">￥32.9</p><span class="proListAddShopCar">加入购物车</span> 
							</div>
						</div>
						
						<!-- 健康果仁  -->
						<div class="iC3ItemsBox">
							<div class="iC3ItemsMsg">
								<img src="../../static/imgs/Floor42Item (1).jpg" />
								<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
								<p class="iCItemsPrice">￥21.9 </p><span class="proListAddShopCar">加入购物车</span>
							</div>
							<div class="iC3ItemsMsg">
								<img src="../../static/imgs/Floor42Item (2).jpg" />
								<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
								<p class="iCItemsPrice">￥21.9 </p><span class="proListAddShopCar">加入购物车</span>
							</div>
							<div class="iC3ItemsMsg">
								<img src="../../static/imgs/Floor42Item (3).jpg" />
								<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
								<p class="iCItemsPrice">￥21.9 </p><span class="proListAddShopCar">加入购物车</span>
							</div>
							<div class="iC3ItemsMsg">
								<img src="../../static/imgs/Floor42Item (4).jpg" />
								<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
								<p class="iCItemsPrice">￥22.9</p> <span class="proListAddShopCar">加入购物车</span>
							</div>
							<div class="iC3ItemsMsg">
								<img src="../../static/imgs/Floor42Item (5).jpg" />
								<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
								<p class="iCItemsPrice">￥22.9</p> <span class="proListAddShopCar">加入购物车</span>
							</div>
							<div class="iC3ItemsMsg">
								<img src="../../static/imgs/Floor42Item (6).jpg" />
								<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
								<p class="iCItemsPrice">￥22.9</p> <span class="proListAddShopCar">加入购物车</span>
							</div>
							
							<!-- 多加出来的商品  -->
							<div class="iC3ItemsMsg">
								<img src="../../static/imgs/F4Items (1).jpg" />
								<p class="iCItemsName">【手剥山核桃190g/袋】临安特产奶油味手剥山核桃</p>
								<p class="iCItemsPrice">￥34.9 </p><span class="proListAddShopCar">加入购物车</span>
							</div>
							<div class="iC3ItemsMsg">
								<img src="../../static/imgs/F4Items (2).jpg" />
								<p class="iCItemsName">【碧根果190g/袋×2袋】奶香酥脆山核桃碧根果</p>
								<p class="iCItemsPrice">￥32.9</p><span class="proListAddShopCar">加入购物车</span> 
							</div>
						</div>
						<!-- 休闲炒货  -->
						<div class="iC3ItemsBox">
							<div class="iC3ItemsMsg">
								<img src="../../static/imgs/F43Item (1).jpg" />
								<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
								<p class="iCItemsPrice">￥33.9</p> <span class="proListAddShopCar">加入购物车</span>
							</div>
							<div class="iC3ItemsMsg">
								<img src="../../static/imgs/F43Item (2).jpg" />
								<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
								<p class="iCItemsPrice">￥33.9</p> <span class="proListAddShopCar">加入购物车</span>
							</div>
							<div class="iC3ItemsMsg">
								<img src="../../static/imgs/F43Item (3).jpg" />
								<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
								<p class="iCItemsPrice">￥33.9 </p><span class="proListAddShopCar">加入购物车</span>
							</div>
							<div class="iC3ItemsMsg">
								<img src="../../static/imgs/F43Item (4).jpg" />
								<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
								<p class="iCItemsPrice">￥31.9 </p><span class="proListAddShopCar">加入购物车</span>
							</div>
							<div class="iC3ItemsMsg">
								<img src="../../static/imgs/F43Item (5).jpg" />
								<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
								<p class="iCItemsPrice">￥31.9</p> <span class="proListAddShopCar">加入购物车</span>
							</div>
							<div class="iC3ItemsMsg">
								<img src="../../static/imgs/F43Item (6).jpg" />
								<p class="iCItemsName">【阿胶味枣228g/袋】特产红枣又甜又糯阿胶味枣</p>
								<p class="iCItemsPrice">￥31.9</p> <span class="proListAddShopCar">加入购物车</span>
							</div>
							
							<!-- 多加出来的商品  -->
							<div class="iC3ItemsMsg">
								<img src="../../static/imgs/F4Items (1).jpg" />
								<p class="iCItemsName">【手剥山核桃190g/袋】临安特产奶油味手剥山核桃</p>
								<p class="iCItemsPrice">￥34.9 </p><span class="proListAddShopCar">加入购物车</span>
							</div>
							<div class="iC3ItemsMsg">
								<img src="../../static/imgs/F4Items (2).jpg" />
								<p class="iCItemsName">【碧根果190g/袋×2袋】奶香酥脆山核桃碧根果</p>
								<p class="iCItemsPrice">￥32.9</p><span class="proListAddShopCar">加入购物车</span> 
							</div>
						</div>
					</div>
						
				</div>
				
			</div>
		</div>
		<div style="clear: both;"></div>
		<script type="text/javascript" src="../../static/js/common/jquery-2.2.1.min.js"></script>
		<script type="text/javascript" src="../../static/js/common/utility.js"></script>
		<script type="text/javascript" src="../../static/js/common/jquery.fly.min.js"></script>
		<script type="text/javascript" src="../../static/js/common/requestAnimationFrame.js"></script>
		<script type="text/javascript" src="../../static/js/common/jquery.cookies.2.2.0.min.js"></script>
		<script type="text/javascript" src="../../static/js/content/productsList.js"></script>
	</body>

</html>