<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../static/css/content/searchResultsContent.css" />
	</head>

	<body>
		<div id="productsList">
			<div class="productsListC">
				<div class="productsListCLeft">
					<ul class="lvToNav">
						<li class="lvToNavLi">坚果炒货</li>
						<li>带壳坚果</li>
						<li>健康果仁</li>
						<li>休闲小吃</li>
						
						<li class="lvToNavLi">肉类海鲜</li>
						<li>猪肉</li>
						<li>牛肉干</li>
						<li>鱿鱼</li>
						<li>鸡鸭</li>
						
						<li class="lvToNavLi">果干蜜饯</li>
						<li>水果干</li>
						<li>饼干系列</li>
						
						<li class="lvToNavLi">台式糕点</li>
						<li>糕点</li>
						<li>糖果</li>
						
						<li class="lvToNavLi">新疆干果</li>
						<li>葡萄干系列</li>
						<li>红枣系列</li>
						<li>核桃系列</li>
						
						<li class="lvToNavLi">精美礼盒</li>
						<li>坚果礼盒</li>
						<li>水果干礼盒</li>
						<li>凤梨酥礼盒</li>
						
					
						
						<li class="lvToNavLi">茶品系列</li>
						<li class="lvToNavLi">其他</li>
						<li class="lvToNavLi">电影伴侣</li>
						<li class="lvToNavLi">游戏之友</li>
						<li class="lvToNavLi">午后茶点</li>
						<li class="lvToNavLi">瘦食兼顾</li>
						<li class="lvToNavLi">聚会小食</li>
						<li class="lvToNavLi">远行必备</li>
					</ul>
				</div>
				<div class="productsListCRight">
					<div class="productsListCRightTopNav">
						<a href="../MainHtml/index.html">首页</a> &gt; <a href="#">搜索</a> &gt; 
						<a href="#">搜索结果</a>
						<div class="navHr" />
					</div>
					<div class="productsListCRightItems">
					
					</div>
				
				</div>
		</div>
		<div style="clear: both;"></div>
		<script type="text/javascript" src="../../static/js/common/jquery-2.2.1.min.js"></script>
		<script type="text/javascript" src="../../static/js/common/utility.js"></script>
		<script type="text/javascript" src="../../static/js/common/jquery.fly.min.js"></script>
		<script type="text/javascript" src="../../static/js/common/requestAnimationFrame.js"></script>
		<script type="text/javascript" src="../../static/js/common/jquery.cookies.2.2.0.min.js"></script>
		<script type="text/javascript" src="../../static/js/content/searchResultsContent.js"></script>
	</body>

</html>