<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../static/css/content/userRegistSuccess.css"/>
	</head>

	<body>
		<div id="loginContent">
			
			<div id="loginContentCS">
				<div id="loginSucceed">
					<h1>您已成功成功注册百草味帐号</h1>
					<p>您的登录<span id="registMethod">111</span>是: <span id="registPhoneNum">111</span></p>
					<span class="promt">(如果忘记密码或丢失账号，可以通过此手机号码找回)</span><br />
					<button id="btn_backToIndex">返回首页</button>
					<div class="fiveSToIndex color5"><span class="secondsSub">5</span>S后自动返回首页(点击取消)……</div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript" src="../../static/js/common/jquery-2.2.1.min.js"></script>
		<script type="text/javascript" src="../../static/js/common/utility.js"></script>
		<script type="text/javascript" src="../../static/js/content/userRegistSuccess.js"></script>
	</body>

</html>