<!doctype html>
<html>

	<head>
		<meta charset="utf-8">

		<title>百草味BAICAOWEI找回密码页面</title>
		<link rel="stylesheet" type="text/css" href="../../static/css/header/header.css" type="text/css">
		<link rel="stylesheet" type="text/css" href="../../static/css/navOfAll/navOfAll.css"/>
		<link rel="stylesheet" type="text/css" href="../../static/css/navOfAll/lv3NavItems.css"/>
		<link rel="stylesheet" type="text/css" href="../../static/css/onTheFooter/onTheFooter.css"/>
		<link rel="stylesheet" type="text/css" href="../../static/css/footer/footer.css" />
		<link rel="stylesheet" type="text/css" href="../../static/css/content/forgetPwdContent.css"/>
		<link rel="stylesheet" type="text/css" href="../../static/css/otherHtmls/forgetPwd.css"/>
	
	
		
	</head>

	<body>
		<!-- 加载header部分 -->   
		<div id="headerMain"></div>
		<!--  加载头部导航Nav部分 --> 
		<div id="navMain"></div>
		<!-- 加载主要内容content部分 --> 
		<div id="contentMain">
			
		</div>
		<!-- 加载footer上面onTheFooter部分 --> 
		<div id="onTheFooterMain"></div>
		<!-- 加载尾部footer部分 --> 
		<div id="footerMain"></div>
		
		<script type="text/javascript" src="../../static/js/common/jquery-2.2.1.min.js"></script>
		<script type="text/javascript" src="../../static/js/common/utility.js"></script>
		<script type="text/javascript" src="../../static/js/content/forgetPwdContent.js"></script>
		<script type="text/javascript" src="../../static/js/otherHTMLs/forgetPwd.js"></script>
		<script type="text/javascript" src="../../static/js/header/header.js"></script>
		<script type="text/javascript" src="../../static/js/navOfAll/navOfAll.js"></script>
		<script type="text/javascript" src="../../static/js/onTheFooter/onTheFooter.js"></script>
		<script type="text/javascript" src="../../static/js/footer/footer.js"></script>
		
	</body>

</html>