<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../static/css/footer/footer.css" />
	</head>

	<body>
		<div id="footer">
			<div id="footerTop">
				<ul class="footerTUl">
					<li>
						<img src="../../static/imgs/footerT0.png" />
						<h3>正品保障</h3>
						<span>品牌直销 品质保证</span>
					</li>
					<li>
						<img src="../../static/imgs/footerT1.png" />
						<h3>0度保险</h3>
						<span>无货架期 全程保险</span>
					</li>
					<li>
						<img src="../../static/imgs/footerT2.png" />
						<h3>免运费</h3>
						<span>满49元 免运费</span>
					</li>
					<li>
						<img src="../../static/imgs/footerT3.png" />
						<h3>闪电发货</h3>
						<span>24小时内出库 全过8仓发货</span>
					</li>
					<li>
						<img src="../../static/imgs/footerT4.png" />
						<h3>30天</h3>
						<span>无理由换货</span>
					</li>
					<li>
						<img src="../../static/imgs/footerT5.png" />
						<h3>优服务</h3>
						<span>贴心服务 放心购物</span>
					</li>
				</ul>
			</div>
			<div id="footerContent">
				<div class="footerCItems">
					<h2>用户指南</h2>
					<ul class="footerCUl">
						<li><a href="#">会员制度</a></li>
						<li><a href="#">注册协议</a></li>
						<li><a href="#">购物流程</a></li>
					</ul>
				</div>
				<div class="footerCItems">
					<h2>支付说明</h2>
					<ul class="footerCUl">
						<li><a href="#">商品发票</a></li>
						<li><a href="#">支付方式</a></li>
					</ul>
				</div>
				
				<div class="footerCItems">
					<h2>配送说明</h2>
					<ul class="footerCUl">
						<li><a href="#">配送方式</a></li>
						<li><a href="#">配送范围及费用</a></li>
						<li><a href="#">发货及送达时间</a></li>
					</ul>
				</div>
				
				<div class="footerCItems">
					<h2>售后服务</h2>
					<ul class="footerCUl">
						<li><a href="#">验货、签收与拒收</a></li>
						<li><a href="#">服务承诺和保障</a></li>
						<li><a href="#">退换货规则</a></li>
						<li><a href="#">退换货流程及注意事项</a></li>
					</ul>
				</div>
				
				<div class="footerCItems">
					<h2>客服中心</h2>
					<ul class="footerCUl">
						<li><a href="#">联系我们</a></li>
						<li><a href="#">投诉建议</a></li>
						<li><a href="#">QQ群群号</a></li>
						<li><a href="#">437394988</a></li>
					</ul>
				</div>
				
			</div>
			<div id="footerBottom">
				<span class="footerBNav">
					<a href="index.html">首页</a> | <a href="brandStory.html">品牌简介</a> | <a href="#">公司介绍</a> | <a href="#">联系我们</a> | <a href="#">招贤纳士</a>
				</span>
				<p>&copy;2011-2016 Baicaowei All Rights Reserved. 百草味商城 百草味版权所有</p>
			</div>
		</div>
		<div id="footer2Bottom"></div>
		<script type="text/javascript" src="../../static/js/common/jquery-2.2.1.min.js"></script>
		<script type="text/javascript" src="../../static/js/footer/footer.js"></script>
	</body>

</html>