<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../static/css/header/header.css" />
	</head>

	<body>
		<div id="header">
			<div id="headerFixed">
				<div class="headerFixedC">
					<div class="header-BCWLogo">
						<img  src="../../static/imgs/headerFixedSLogo.png" />
					</div>
				
					<div class="hCRight">
						<div class="hCSearch">
							<input type="text" class="tb_Hsearch" placeholder="狂欢女神节" />
							<input type="button" class="btn_Hsearch" value="搜 索" />
						</div>
						<!--<div class="addShopCar-Prompt"></div>-->
						<div class="hCShopCar">购物车<span class='span_HShopCar'>0</span>件</div>
					</div>
				</div>
			</div>
			<div id="headerTop">
				<!-- 用户未登录时显示的内容  -->
				<div class="headerTopC">
					<div class="hTopL">Hi,请
						<span class="hTopLLogin"><a href="userLogin.html">登录</a> | <a href="userRegist.html">注册</a>  | 忘记密码，<span class="hTopLSearchPwd"><a href="javascript:;" class="header_getNewPwd">立即找回</a> </span></span>
					</div>
					<div class="hTopR">
						<a href="userCenter.html">我的零食</a> |<a href="#" id="hContact">联系客服
							<div id="contactUsEWM">
								<img src="../../static/imgs/contact us.png" />
								<hr style="color: #f1f1f1;"/>
								<b>0571-56588825</b>
								<span>电话咨询</span>
							</div>
						</a>| 客服热线：<span class="hTopRPhone"><em><b>0571-56588825</b></em></span>
					</div>
				</div>
				<!-- 用户已登录时显示的内容  -->
				<div class="headerTopC2">
					<div class="hTopL">欢迎来到<a href="index.html">百草味官方商城</a>，
						<span class="hTopLUserCenter"><a href="userCenter.html">用户中心</a> | <a href="#" id="userBack">退出</a></span>
					</div>
					<div class="hTopR">
						<a href="userCenter.html">我的零食</a> |<a href="#" id="hContact">联系客服
							<div id="contactUsEWM">
								<div class="header-BCWLogo">
									<img src="../../static/imgs/contact us.png"/>
								</div>
								<hr style="color: #f1f1f1;"/>
								<b>0571-56588825</b>
								<span>电话咨询</span>
							</div>
						</a>| 客服热线：<span class="hTopRPhone"><em><b>0571-56588825</b></em></span>
					</div>
				</div>
			</div>
			<div id="headerContent">
				<div class="headerContentC">
					<img src="../../static/imgs/BCWLogo.png" class="bcw_headLogo" />
					<!--<span class="hCTitle">趣味零食探索家</span>-->
					<img src="../../static/imgs/HeaderTitle2.png" />
					<div class="hCRight">
						<div class="hCSearch">
							<input type="text" class="tb_Hsearch" placeholder="狂欢女神节" />
							<input type="button" class="btn_Hsearch" value="搜 索" />
						</div>
						<div class="addShopCar-Prompt">已加入购物车</div>
						<div class="hCShopCar">购物车<span class="span_HShopCar">0</span>件</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../../static/js/common/jquery-2.2.1.min.js"></script>
		<script type="text/javascript" src="../../static/js/common/utility.js"></script>
		<script type="text/javascript" src="../../static/js/common/jquery.cookie.js"></script>
		<script type="text/javascript" src="../../static/js/header/header.js"></script>
	</body>

</html>
		
