<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../static/css/onTheFooter/onTheFooter.css"/>
	</head>

	<body class="oBody">
		<div id="onTheFooter">
			<div id="onTheFooterC">
				<div class="oTFCPics">
					<img src="../../static/imgs/onTheFooter1.png" />
					<div class="oTFCPicsShadow">
						
					</div>
				</div>
				<div class="oTFCPics">
					<img src="../../static/imgs/onTheFooter2.png" />
					<div class="oTFCPicsShadow">
						
					</div>
				</div>
				<div class="oTFCPics">
					<img src="../../static/imgs/onTheFooter3.png" />
					<div class="oTFCPicsShadow">
						
					</div>
				</div>
				<div class="oTFCPics">
					<img src="../../static/imgs/onTheFooter4.png" />
					<div class="oTFCPicsShadow">
						
					</div>
				</div>
				<div class="oTFCPics">
					<img src="../../static/imgs/onTheFooter5.png" />
					<div class="oTFCPicsShadow">
						
					</div>
				</div>
				<div class="oTFCPics">
					<img src="../../static/imgs/onTheFooter6.png" />
					<div class="oTFCPicsShadow">
						
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../../static/js/common/jquery-2.2.1.min.js"></script>
		<script type="text/javascript" src="../../static/js/onTheFooter/onTheFooter.js"></script>
	</body>

</html>